/*
 *	Copyright 2011-2013 Nathan Wehr. All Rights Reserved. 
 *
 *	Redistribution and use in source and binary forms, with or without modification, are
 *	permitted provided that the following conditions are met:
 *
 *		1. Redistributions of source code must retain the above copyright notice, this list of
 *		conditions and the following disclaimer.
 *
 *		2. Redistributions in binary form must reproduce the above copyright notice, this list
 *		of conditions and the following disclaimer in the documentation and/or other materials
 *		provided with the distribution.
 *
 *	THIS SOFTWARE IS PROVIDED BY NATHAN WEHR ''AS IS'' AND ANY EXPRESS OR IMPLIED
 *	WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 *	FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL NATHAN WEHR OR
 *	CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 *	CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 *	SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 *	ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 *	NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 *	ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 *	The views and conclusions contained in the software and documentation are those of the
 *	authors and should not be interpreted as representing official policies, either expressed
 *	or implied, of Nathan Wehr.
 *
 */

video {
	position: absolute; 
	background-color: black; 
	box-shadow: 0px 0px 5px gray; 
	
}

.NDVideoPlayer {
	position: relative; 
	
}

.NDVideoController {
	position: absolute; 
	
	box-shadow: 0px 1px 3px #222; 
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa)); 
	background: -moz-linear-gradient(top,  #ddd,  #aaa);
	
	border-radius: 3px; 
	
	width: 432px; 
	height: 35px; 
	
	margin-left: auto; 
	margin-right: auto; 
	
	left: 0; right: 0; 
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

.NDVideoController .PlayPause {
	display: inline-block; 
	
	margin-top: 1px; 
	
	width: 50px; 
	height: 34px; 
	
	border-right: solid 1px gray; 
	color: white; 
	
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px; 
	 
}

.NDVideoController .PlayPause img {
	display: block; 
	
	margin-left: auto; 
	margin-right: auto; 
	
	padding-top: 10px; 
}

.NDVideoController .ScrubContainer {
	display: inline-block; 
	
	margin-top: 1px; 
	
	width: 269px; 
	height: 34px; 
	
	border-right: solid 1px gray; 
	border-left: solid 1px #ddd; 
	
	margin-left: 0; 
}

.NDVideoController .ScrubContainer .Scrub
, .NDVideoController .VolumeContainer .Volume {
	display: block; 
	
	margin-top: 12px; 
	
	background-color: #bbb; 
	margin-left: 10px; 
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#aaa));
	background: -moz-linear-gradient(top,  #888,  #aaa);
	
	border-radius: 2px;  
	
	border: solid 1px #555; 
	box-shadow: 0px 1px 0px #eee; 
}

.NDVideoController .ScrubContainer .Scrub {
	width: 247px; 
	height: 10px; 
}

.NDVideoController .VolumeContainer .Volume {
	width: 60px; 
	height: 10px; 
	
	float: left; 
	
}

.NDVideoController .ScrubContainer .Scrub .PlayPosition
, .NDVideoController .ScrubContainer .Scrub .BufferPosition {
	width: 0;  
	
	position: absolute; 
	height: 10px;

}

.NDVideoController .ScrubContainer .Scrub .PlayPosition
, .NDVideoController .VolumeContainer .VolumePosition {
	height: 10px; 
	
	border-radius: 2px; 
	box-shadow: 0px 0px 2px black; 
	
	background: -webkit-gradient(linear, 0% 50%, 0% 60%, from(#4e4), to(#1b1));
	background: -moz-linear-gradient(top,  #4e4 50%,  #1b1 60%);
	
}

.NDVideoController .ScrubContainer .Scrub .BufferPosition {
	width: 0;
	
	background-color: rgba(0,0,0,0.1); 
}

.NDVideoController .VolumeContainer {
	display: inline-block; 
	
	margin-top: 1px; 
	
	width: 108px; 
	height: 34px; 
	
	border-left: solid 1px #ddd; 
	
	margin-top: 0; 
	margin-left: 0; 
	
}

.NDVideoController .VolumeContainer img {
	display: block; 
	
	margin-top: 10px; 
	padding-left: 10px; 
	
	float: left; 

}

.NDVideoController .VolumeContainer .VolumePosition {
	width: 45px; 
}